extends layout

block content

  header.Header
    .Header-content
      h1.Header-title Pedro Duarte
      p.Header-subtitle Front end & prototype developer


      p.Header-intro
        | I help startups and companies improve their online appearance with code. I specialise in progressive enhancement development and I care deeply about user experience and design.
        if config.clientName
          | &nbsp;I'm currently working for #[a(href=config.clientUrl target="_blank") #{config.clientName}] as a #{config.title}.
        else
          | &nbsp;I'm currently <strong>available</strong> for work.

      p.Header-intro
        | You can find me on #[a(href="http://twitter.com/peduarte") Twitter], #[a(href="https://github.com/peduarte/") Github], #[a(href="http://uk.linkedin.com/in/peduarteltd") LinkedIn] or #[a(href="mailto:contact@peduarte.com") email].



  main
    ul.Projects
      each project, index in records.projects
        li(class="Project-item" data-brand-color=project.brandColor)
          a(href=project.link target="_blank" class="Project-link")
            h3.Project-client= project.client
            p.Project-name= project.name
            ul.Tags
              if project.tags
                each tag in project.tags
                  li.Tag= tag


