extends layout

block content

  header.Header
    .Header-content
      h1.Header-title Pedro Duarte
      p.Header-subtitle Front end & prototype developer
      p.Header-intro
        | Hello! I am freelance London based front end developer helping startups and companies improve their online appearance with code. I'm currently contracting at #[a(href="http://fluxx.uk.com") Fluxx].
      p.Header-intro
        | You can find me on #[a(href="http://twitter.com/peduarte") Twitter], #[a(href="https://github.com/peduarte/") Github] & #[a(href="http://uk.linkedin.com/in/peduarteltd") LinkedIn].

  main
      ul.Projects
        each project, index in records.projects
          li(class="Project-item" data-brand-color=project.brandColor)
            a(href=project.link target="_blank" class="Project-link")
              h3.Project-client= project.client
              p.Project-name= project.name
              ul.Tags
                if project.tags
                  each tag in project.tags
                    li.Tag= tag


